In [ ]:
import Pkg
Pkg.add("CSV")

    Updating registry at `C:\Users\lenovo\.julia\registries\General.toml`
┌ Error: Some registries failed to update:
│     — C:\Users\lenovo\.julia\registries\General.toml — failed to download from https://pkg.julialang.org/registry/23338594-aafe-5451-b93e-139f81909106/038345c7ad924f1271293f95756626e7bdc363a8. Exception: InterruptException:
└ @ Pkg.Registry C:\buildbot\worker\package_win64\build\usr\share\julia\stdlib\v1.7\Pkg\src\Registry\Registry.jl:450

In [1]:
using CSV
using DataFrames
using Dates

In [2]:
#https://stackoverflow.com/questions/65073519/importing-csv-file-in-julia-argumenterror-provide-a-valid-sink-argument-like

emp = CSV.read("D:\\python_coding\\pyspark_tutorial\\emp.csv", DataFrame)

14×8 DataFrame
 Row │ EMPNO  ENAME    JOB        MGR      HIREDATE   SAL    COMM     DEPTNO
     │ Int64  String7  String15   Int64?   String15   Int64  Int64?   Int64
─────┼───────────────────────────────────────────────────────────────────────
   1 │  7369  SMITH    CLERK         7902  17-Dec-80    800  missing      20
   2 │  7499  ALLEN    SALESMAN      7698  20-Feb-81   1600      300      30
   3 │  7521  WARD     SALESMAN      7698  22-Feb-81   1250      500      30
   4 │  7566  JONES    MANAGER       7839  2-Apr-81    2975  missing      20
   5 │  7654  MARTIN   SALESMAN      7698  28-Sep-81   1250     1400      30
   6 │  7698  BLAKE    MANAGER       7839  1-May-81    2850  missing      30
   7 │  7782  CLARK    MANAGER       7839  9-Jun-81    2450  missing      10
   8 │  7788  SCOTT    ANALYST       7566  19-Apr-87   3000  missing      20
   9 │  7839  KING     PRESIDENT  missing  17-Nov-81   5000  missing      10
  10 │  7844  TURNER   SALESMAN      7698  8-Sep-81    1500        0      30
  11 │  7876  ADAMS    CLERK         7788  23-May-87   1100  missing      20
  12 │  7900  JAMES    CLERK         7698  3-Dec-81     950  missing      30
  13 │  7902  FORD     ANALYST       7566  3-Dec-81    3000  missing      20
  14 │  7934  MILLER   CLERK         7782  23-Jan-82   1300  missing      10

In [ ]:
#reading a 2.75GB file

In [2]:
d1=now()
sales=CSV.read("D:\\python_coding\\Sales Data\\sales_data.csv",DataFrame)
first(sales,10)
CSV.write("D:\\python_coding\\Sales Data\\julia_sale.csv.csv", sales)
d2=now()
print(d2-d1)

453396 milliseconds

In [11]:
print(60713/1000)

60.713

In [ ]:
#reading a 6.5GB file

In [3]:
sales=CSV.read("D:\\python_coding\\Sales Data\\sales_data.csv",DataFrame)
first(sales,10)

10×7 DataFrame
 Row │ PROD_ID  CUST_ID  TIME_ID    CHANNEL_ID  PROMO_ID  QUANTITY_SOLD  AMOUN ⋯
     │ Int64    Int64    String15   Int64       Int64     Int64          Float ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      13      987  10-JAN-98           3       999              1      1 ⋯
   2 │      13     1660  10-JAN-98           3       999              1      1
   3 │      13     1762  10-JAN-98           3       999              1      1
   4 │      13     1843  10-JAN-98           3       999              1      1
   5 │      13     1948  10-JAN-98           3       999              1      1 ⋯
   6 │      13     2273  10-JAN-98           3       999              1      1
   7 │      13     2380  10-JAN-98           3       999              1      1
   8 │      13     2683  10-JAN-98           3       999              1      1
   9 │      13     2865  10-JAN-98           3       999              1      1 ⋯
  10 │      13     4663  10-JAN-98           3       999              1      1
                                                                1 column omitted

In [5]:
print(160388/1000)

160.388